.checkbox_list {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.595);
  border-radius: 16px;

  &__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.list__select_all {
  padding-bottom: 12px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  margin-bottom: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 12px;
    opacity: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: opacity 0.2s ease;
  }

  &_scrolled::after {
    opacity: 1;
  }
}

.scrollable_list {
  max-height: 116px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  z-index: 1;

  &__item {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--surface-24-background-color);
    border-radius: 4px;
  }
}
