@font-face {
  font-family: "Montserrat-Black";
  src: url("/fonts/Montserrat/static/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("/fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat/static/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("/fonts/Montserrat/static/Montserrat-Thin.ttf");
}
