:root {
  --accent-color: #e91e63;
  --accent-color-hover: #d11c58;
  --accent-secondary-color: #304ffe;
  --accent-third-color: #880e4f;

  --text-color-light: white;
  --text-color-dark: black;
  --text-color-dark-54: rgba(0, 0, 0, 0.54);
  --text-color-dark-42: rgba(0, 0, 0, 0.42);

  --background-color-light: white;

  --border-color: #b0b0b0;
}
