.userActionButton {
  background: var(--accent-secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  margin-right: 8px;

  &:hover {
    background: #1a36b4;
  }
}

.userActionButton:last-child {
  margin-right: 0;
}

.makeAdminButton {
  background: var(--accent-color);
  color: white;
  &:hover {
    background: var(--accent-color-hover);
  }
} 