.header {
  display: flex;
  align-items: center;
  gap: 20px;
  /* position: fixed; */

  &__logo {
    width: 90px;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 20px;
  }
}

.nav__link {
  &--accent {
    background-color: var(--accent-color);
    border-radius: 38px;
    padding: 10px 16px;
  }
}

.headerDarkBg {
  background: #1E1E1E;
}
